.about {
  width: min(1200px, 90%);
  margin: 150px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.about-image img {
  height: 650px;
  width: 100%;
  object-fit: cover;

  border-radius: 30px;

  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12);
}

.about h2 {
  font-size: 62px;
  margin-bottom: 30px;
}

.about h2 span {
  display: block;
  color: var(--yellow);
}

.about p {
  line-height: 1.9;
  color: var(--white);
  margin-bottom: 22px;
}

.about-highlights {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.about-highlights h3 {
  font-size: 42px;
  color: var(--yellow);
}

.about-highlights span {
  font-size: 14px;
  color: var(--white);
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about-image {
    order: -1;
  }

  .about h2 {
    font-size: 48px;
  }

  .about-highlights {
    justify-content: space-between;
  }
}
