.contact {
  padding: 120px 0;
  background: var(--yellow);
}

.contact-container {
  width: min(900px, 90%);
  margin: auto;
  text-align: center;
}

.section-tag {
  display: inline-flex;
  align-items: center;
  gap: 15px;

  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;

  color: var(--deep-teal);
  font-weight: 800;

  margin-bottom: 20px;
}
.about h2 span,
.topics h2 span,
.testimonials h2 span {
  color: var(--yellow);
}

.section-tag::before {
  background: #c5a76a;
}

.contact h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 30px;
}

.contact h2 span {
  display: block;
  color: var(--deep-teal);
}

.contact-text {
  max-width: 650px;
  margin: auto;
  line-height: 1.9;
  color: var(--deep-teal);
  margin-bottom: 60px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 25px;
  margin-bottom: 60px;
}
.contact-card:last-child {
  grid-column: 1 / -1;
  justify-self: center;
  width: 100%;
  max-width: 420px;
}

.contact-card {
  background: var(--deep-teal);
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
}

.contact-card h3 {
  color: var(--yellow);
  margin-bottom: 15px;
  font-size: clamp(1.8rem, 4vw, 2.3rem);
}

.contact-card a {
  color: var(--white);
  font-weight: 500;
  font-size: clamp(0.95rem, 3vw, 1.2rem);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.contact-btn {
  display: inline-block;
  background: #5e7a65;
  color: #fff;
  padding: 18px 42px;
  border-radius: 50px;
  transition: 0.35s;
  box-shadow: 0 18px 40px rgba(94, 122, 101, 0.25);
}

.contact-btn:hover {
  background: #4f6858;
  transform: translateY(-3px);
}
@media (max-width: 767px) {
  .contact h2 {
    font-size: 48px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .contact-info {
    gap: 20px;
  }

  .contact-card {
    border-radius: 20px;
    padding: 24px 18px;
  }
}
@media (max-width: 767px) {
  .contact {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .contact-info {
    grid-template-columns: 1fr;
  }

  .contact-card {
    width: 100%;
    max-width: 650px;
    justify-self: center;
  }

  .contact-card:last-child {
    grid-column: auto;
    max-width: 650px;
  }
}
