.navbar {
  width: min(1200px, 90%);
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  gap: 45px;
}

.navbar li {
  font-size: 15px;
  font-weight: 500;
}

.navbar a {
  transition: 0.3s;
}

.navbar a:hover {
  color: #6c8a72;
}

.nav-btn {
  padding: 14px 28px;
  background: #5e7a65;
  color: white;
  border-radius: 40px;
}
.menu-btn {
  display: none;
}
