* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

  background: #f8f5f0;

  color: #2f3431;

  overflow-x: hidden;
}

img {
  max-width: 100%;

  display: block;
}

a {
  text-decoration: none;

  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;

  font-weight: 600;
}

.logo {
  font-size: 34px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.buttons {
  display: flex;

  gap: 18px;

  align-items: center;
}

.section-divider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.section-divider span {
  width: 80px;
  height: 2px;
  background: #c5a76a;
  border-radius: 5px;
}
